


.Navbar{
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px ;
  width: 97%;
  height: 10%;
  background: #292828;
}

img{
  width: 30px;
  height: 30px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height:50px;
  margin-right: 5px;
}
.logo p{
  font-size: 15px;
}

.inputdiv{
  width: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #373737;
  overflow: hidden;
}
.inputdiv input{
  flex-grow: 1;
  background-color: transparent;
  border: none;
  height: 90%;
  margin: 0 20px;
}
.inputdiv img{
  width: 20px;
  margin-left: 10px;
}

.inputdiv button{
  width: 100px;
 border:  1px solid rgba(255, 255, 255, 0.50);
  font-size: 13px;
}

.right-div{
  
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
}
input:focus{
  outline: none;
  border: none;
}
/*************************************************************************/

.hero-section{
  width: 97%;
  background-color: red;
  height: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: auto;

}
.hero-books{
  width: 450px;
  height: 250px;

  overflow: hidden;
  position: relative;
  display: flex;
  


}
.hero-books img{
  width: 35%;
  height: 18rem;
  transform: rotate(-3deg);
  position: absolute;
  left: 10px;
  top: -5px;
}
.hero-books-details{
  width: 55%;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  align-items: center;
  background-color: green;
}


/***************************************************************/

.display{
  padding: 30px 0;
  width: 100%;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}
.BookImg img{
  width: 150px;
  height: 200px;
}